<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ACCUEIL CRUD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/semantic.min.css" rel="stylesheet">
        <style>
            .main.container{
                margin-top: 7em;
            }
        </style>
    </head>
    <body>
        <div class="ui main container">
            <div class="ui fixed inverted menu">
                <a href="/" class="header item">ACCUEIL</a>
                <a href="/create" class="header item">CREATE</a>
                <a href="/read" class="header item">READ</a>
                <a href="/update" class="header item">UPDATE / DELETE</a>
            </div>

            <div class="ui comments">
                <h3 class="ui dividing heager" style="font-size: 10px; text-align: center;margin-left: 150px"> Cliquez sur une option du menu pour executer une action </h3>
            </div>

            <div class="ui comments">
                <h3 class="ui dividing heager" style="font-size: 100px; text-align: center;margin-left: 150px"> GESTIONNAIRE DES CONTACTS </h3>
            </div>
            
        </div>
        
    </body>
</html>